{% extends "base.html"%}

{% block head_title %} 
    {{ title }} | {{ block.super }} 
{% endblock head_title %}    

{% block content %}
    <div class="col-sm-3 text-center">
        {% if instance.photo %}
           <img src="{{ instance.photo.url }}" class="img-responsive">
        {% endif %}
        <hr/>
        {% if instance.likes >= 10 %}
            <a href="" class="btn btn-small btn-primary disabled" role="button">+1</a>
        {% else %}
            <a href="{% url 'clients:vote_for_client' id=instance.id %}" class="btn btn-small btn-primary" role="button">+1</a>    
        {% endif %}
        
        <b id="like_count">{{ instance.likes }}</b> likes

        <hr/>
        {% if user.is_authenticated %}
            <a href="{% url 'clients:update' id=instance.id %}" class="btn btn-success" role="button">Edit</a>    
        {% endif %}
        
    </div>
    <div class="col-sm-9">
        Name: {{ instance.first_name }} <br/>
        Second name: {{ instance.second_name }} <br/>
        Age: {{ instance.age }} <br/>
        Birth: {{ instance.birth_date | date:"d M Y"}} <br/>

    </div>
    <hr/>
    <div class="col-sm-12 text-center">
        <a href="{% url 'clients:poll' %}" class="btn btn-primary" role="button">Go to poll</a>
        <a href="{%url 'clients:list' %}" class="btn btn-warning">Back to the list</a>
    </div>
    
{% endblock content %}
