{% extends "base.html"%}

{% block head_title %} 
    {% if  instance %}
        {{ instance }} | {{ block.super }}     
    {% else %}
        Add new client | {{ block.super }} 
    {% endif %}
    
{% endblock head_title %}

{% block content %}
    <div class="col-sm-3 text-center">
    {% if instance.photo %}
       <img src="{{ instance.photo.url }}" class="img-responsive">
    {% endif %}
    </div>

    <div class="col-sm-9">
        <form method="POST" action="" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            
            <button type="submit" class="btn btn-success" value="Add client"/>Save</button>

            <button type="reset" class="btn btn-primary" value="Reset">Reset</button>
            <a href="{%url 'clients:list' %}" class="btn btn-warning">Back to the list</a>
        </form>    
    </div>
    
{% endblock content %}
